/*.contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
} */

.contenedor{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px){
  .contenedor{
    width: 750px;
  }
}

@media only screen and (min-width: 992px){
  .contenedor{
    width: 970px;
  }
}

@media only screen and (min-width: 1200px){
  .contenedor{
    width: 1770px;
  }
}
