/*.title{
  grid-column: 1/-1;
  text-align: center;
}

.button-shop{
  background-color: $white;
  color: $smoky-black;
  border: 1px solid $smoky-black;
}*/

.title{
border: 1px solid black;
background-color: yellow;
grid-column: span 1;
}
